<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo</title>
	<link rel="stylesheet" href="todo.css">
</head>
<body>
	<div id="todoapp">
		<header>
			<h1>Todos</h1>
			<input type="text" id="new-todo" placeholder="What needs to be done?">
		</header>
		<section id="main">
			<input type="checkbox" id="toggle-all">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>

		<footer>
			<a href="#" id="clear-completed">Clear completed</a>
			<div id="todo-count"></div>
		</footer>
	</div>

	<div id="instructions">
		Double-click to edit a todo
	</div>



	<script src="../../src/jquery.min.js"></script>
	<script src="../../src/underscore.js"></script>
	<script src="../../src/backbone.js"></script>
	<script src="../../src/backbone.localStorage.js"></script>
	<script src="todo.js"></script>
	<script type="text/template" id="item-template" >
		<div class="view">
			<input type="checkbox" class="toggle" <%= done ? 'checked="checked"' : '' %> />
			<label><%- title %></label>
			<a class="destory"></a>
		</div>
		<input type="text" class="edit" value="<%- title %>" />
	</script>

	<script id="stats-template" type="text/template">
	<% if (done) {%>
		<a href="#" id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items'%></a>
	<% } %>
	<div class="todo-count"><b><%= remaining %></b><%= remaining == 1 ? 'item' : 'items' %>left</div>
	</script>
</body>
</html>